
<h1>New Post</h1>
<%= form_with scope: :announcements, url: create_post_path, local: true do |f| %>
    <p>
      <%= f.label :"Title" %><br/>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :"Announcement Body" %><br/>
      <%= f.text_field :announcement %>
    </p>

    <p>
      <%= f.label :"Date" %><br/>
      <%= f.text_field :date %>
    </p>

    <p>
      <%= f.label :"Time" %><br/>
      <%= f.text_field :time %>
    </p>

    <p>
      <%= f.submit  %>
    </p>
  <% end %>