

<div class="container" id ="home-container">
  <div class="jumbotron-new-an rounded" id ="new-an-jumbotron">

    <div class="row">
      <div class="w-auto mx-auto col-md-4">
        <div class="jumbotron-signup-white">
          <h1>Signup</h1>
          <%= form_with scope: :register, url: try_signup_path, local: true do |f| %>
            <p>
              <%= f.label :"Username" %><br/>
              <%= f.text_field :username %>
            </p>

            <p>
              <%= f.label :"Password" %><br/>
              <%= f.password_field :password %>
            </p>

            <p>
              <%= f.label :"Password Confirmation" %><br/>
              <%= f.password_field :password_confirmation %>
            </p>

            <p>
              <br/><br/><br/>
              <%= f.label :"Invite Key" %><br/>
              <%= f.label :"Thats right fool you need a super duper secret key to make an account", class: "sm-key-txt" %>
              <%= f.label :"Prevents a malicious user like you from getting in", class: "sm-key-txt" %>
              <%= f.password_field :invite_key %>
            </p>

            <p>
              <%= f.submit :"Login" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
