

<div class="container" id ="home-container">
  <div class="jumbotron" id ="home-jumbotron">

    <div class="row">
      <div class="w-50 mx-auto">
        <div class="jumbotron" id="welcome-text">
          <h2>Welcome To Announcebot Home</h2>
          <h5 id="small-home-text">A TMB Production...</h5>
        </div>
      </div>

    </div>

    <%if(!current_user) %>
      <div class="row">
        <div class="w-50 mx-auto">
          <div class="jumbotron" id="welcome-text">
            <div class="col align-self-center">
              <%= link_to "Login", login_path, class: "small-home-text"%>
              </br>
              <%= link_to "Signup", signup_path, class: "small-home-text"%>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%if(current_user) %>
      <div class="row">
        <div class="w-50 mx-auto">
          <div class="jumbotron" id="welcome-text">
            <div class="col align-self-center">
              <%= link_to "Home", index_path, class: "small-home-text"%>
            <br>
              <%= link_to "Logout", logout_path, class: "small-home-text"%>

            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%if(access_tools) %>
      <div class="row">
        <div class="w-50 mx-auto">
          <div class="jumbotron" id="welcome-text">
            <div class="col align-self-center">
              <h1>Admin Tools</h1>
              <%= link_to "Key Creator", key_form_path, class: "small-home-text"%>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>